{%  extends '::base.html.twig' %}

{% block title %}Muneris is here{% endblock %}
{% block body %}

  <article>
    <h3>Nno lookup</h3>
    <p>tba</p>
  </article>

  <article>
    <h3>Geo PostCode lookup</h3>
    <p>tba</p>
  </article>

  <article>
    <h3>MaxMind lookup</h3>
    <p>tba</p>
  </article>

{% endblock %}