{%  extends '::base.html.twig' %}

{% block body %}

  <div class="jumbotron">
    <h1>Services for the people.</h1>
    <p class="lead">One place to go for all your lookup service needs.</p>
    <a class="btn btn-large btn-success" href="#">Sign up today</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span4">
      <h4>MaxMind</h4>
      <p>Run all your MaxMind queries here.</p>
    </div>

    <div class="span4">
      <h4>GeoPostcodes</h4>
      <p>Have a zip code, and need to know where it's located ?</p>
    </div>

    <div class="span4">
      <h4>NNO</h4>
      <p>Lookup danish phone numbers and get the Person behind it.</p>
    </div>
  </div>

{% endblock %}